body {
    font-family: arial, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#topcontainer {
    vertical-align: top;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}


#betterplace {
    font-size: 0.9em;
    text-align: center;
    border: 0;
    position: relative;
    top: 0;
    left: 0;
    float: left;
    z-index: 500;
    max-width: 35%;
    display: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    pointer-events: all;
}

#betterplace a {
    color: black;
    text-decoration: none;
}

#betterplace span {
    font-weight: bold;
    color: rgb(56, 181, 173);
}

#update {
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    position: relative;
    top: 10px;
    left: 350px;
    float: left;
    padding: 5px 10px;
    text-align: center;
    height: auto;
    z-index: 900;
    background-color: rgba(56, 181, 173, 0.6);
}


#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

/*
#UI_container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25em;
    height: 40%;
    z-index: 900;
    vertical-align: bottom;
    pointer-events: none;
}
*/

.custom-select {
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    width: 12em;
    height: 2.2rem;
    display: inline-block;
    background-color: rgba(56, 181, 173, 0.8);
    border-radius: 8px;
    border: 1px solid transparent;
    position: absolute;
    top: 15rem;
/*    margin-left: 1rem;*/
    pointer-events: auto;
}

.custom-select:hover, .custom-select:focus {
    background-color: rgb(49, 135, 127);
}

.custom-select select {
    display: none; 
}

.select-selected {
    bottom: 0;
    width: 100%;
}

.select-selected:after {
    position: absolute;
    content: "▲";
    right: 10px;
    width: auto;
    height: 0;
    border-left: thin solid white;
    padding-left: 10px;
}

.select-selected.select-arrow-active:after {
    content: "▼"
}

.select-selected.select-arrow-inactive:after {
    content: "▲"
}
.select-items div, .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    cursor: pointer;
    user-select: none;
}

.select-items {
    position: absolute;
    bottom: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: rgba(56, 181, 173, 0.8);
    border: 1px solid transparent;
}

.select-items div:hover, .same-as-selected {
    border-radius: 8px;
    background-color: rgb(49, 135, 127);
}

.layer-select {
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    width: 12em;
    display: inline-block;
    background-color: rgba(56, 181, 173, 0.8);
    border-radius: 8px;
    border: 1px solid transparent;
    position: absolute;
    top: 18rem;
/*    margin-left: 1rem;*/
    pointer-events: auto;
}

.layer-select:hover, .layer-select:focus {
    background-color: rgb(49, 135, 127);
}
/*

#explanation {
    padding: 20px;
    font-family: arial, sans-serif;
    color: black;
    cursor: pointer;
    font-size: 1.1em;
}

#map-info {
    padding: 10px;
    font-family: arial, sans-serif;
    color: black;
}
*/

#legendcontainer {
    display: inline-block;
    width: 9.5em;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}



.legend {
    font-family: arial, sans-serif;
    color: black;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    height: 100%;
}

.legend-inner {
    position: absolute;
    left: 30px;
    bottom: 20px;
    pointer-events: none;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.legend-inner .gradient {
    opacity: 1;
    width: 20px;
    position: relative;
}

.legend-inner .labels {
    width: 10em;
    position: relative;
}

.legend-inner .labels .label {
    position: absolute;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.legend-inner .labels .label:before {
    content: '\2013   ';
}

#legend_PM10 .gradient {
    background: -webkit-linear-gradient(bottom, #00796b 0%, #00796b 16%, #f9a825 32%, #e65100 48%, #dd2c00 72%, #dd2c00 80%, #8c0084 100%);
    background: linear-gradient(to top, #00796b 0%, #00796b 16%, #f9a825 32%, #e65100 48%, #dd2c00 72%, #dd2c00 80%, #8c0084 100%);
}

#legend_PM25 .gradient {
    background: -webkit-linear-gradient(bottom, #00796b 0%, #00796b 8%, #f9a825 16%, #e65100 32%, #dd2c00 48%, #dd2c00 72%, #8c0084 80%);
    background: linear-gradient(to top, #00796b 0%, #00796b 8%, #f9a825 16%, #e65100 32%, #dd2c00 48%, #dd2c00 72%, #8c0084 80%);
}

#legend_Temperature .gradient {
    background: -webkit-linear-gradient(bottom, #4050B0 0%, #5679f9 16.6%, #55cbd9 33.3%, #a2cf4a 50%, #fedb64 66.6%, #fe8f52 83.3%, #e6380f 100%);
    background: linear-gradient(to top, #4050B0 0%, #5679f9 16.6%, #55cbd9 33.3%, #a2cf4a 50%, #fedb64 66.6%, #fe8f52 83.3%, #e6380f 100%);
}

#legend_Humidity .gradient {
    background: -webkit-linear-gradient(bottom, #c41a0a 0%, #f47a0b 20%, #f4e60b 40%, #aff474 60%, #6dbcff 80%, #00528f 100%);
    background: linear-gradient(to top, #c41a0a 0%, #f47a0b 20%, #f4e60b 40%, #aff474 60%, #6dbcff 80%, #00528f 100%);
}

#legend_Pressure .gradient {
    background: -webkit-linear-gradient(bottom, #dd2e97 0%, #6b3b8f 12.5%, #2979b9 25%, #02B9ed 37.5%, #13ae52 50%, #c9d841 62.5%, #fad635 75%, #f0a03d 87.5%, #892725 100%);
    background: linear-gradient(to top, #dd2e97 0%, #6b3b8f 12.5%, #2979b9 25%, #02B9ed 37.5%, #13ae52 50%, #c9d841 62.5%, #fad635 75%, #f0a03d 87.5%, #892725 100%);
}

#legend_Noise .gradient {
    background: -webkit-linear-gradient(bottom, #00528f 0%, #6dbcff 20%, #aff474 40%, #f4e60b 60%, #f47a0b 80%, #c41a0a 100%);
    background: linear-gradient(to top, #00528f 0%, #6dbcff 20%, #aff474 40%, #f4e60b 60%, #f47a0b 80%, #c41a0a 100%);
}


#legend_Official_AQI_US {
    width: 10em;
    height: auto;
    padding: 10px;
}

#legend_Official_AQI_US .AQI_color {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    top: 3px;
}

#legend_Official_AQI_US ul {
    padding: 0;
    margin: 5px 10px;
    list-style-type: none;
}



li {
    display: list-item;
    text-align: -webkit-match-parent;
    width: 100%;
    pointer-events: auto;
}

.tooltip {
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.tooltip-div {
    padding: 5px;
    border-radius: 5px;
    width: auto;
    min-width: 200px;
    max-width: 500px;
    height: auto
}

.tooltip-text div {
    display: none;
    pointer-events: auto
}

.tooltip-text:hover div {
    display: inline;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    background-color: #38b5ad;
    z-index: 1000;
    margin-left: 5px
}


ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 40px;
}

.leaflet-pane > svg .d3-overlay path {
    cursor: help;
    pointer-events: all;
}


img.leaflet-tile {
    filter: grayscale(85%) saturate(150%) hue-rotate(60deg) contrast(90%) brightness(110%);
    -webkit-filter: grayscale(85%) saturate(150%) hue-rotate(60deg) contrast(90%) brightness(110%);
}


table {
    font-family: arial, sans-serif;
    width: 30vw;
    border: 1px solid #404040;
    border-collapse: collapse;
    background: transparent;
}

td {
    background-color: transparent;
    border: 1px solid #404040;
    height: 0.8em;
    text-align: center;
    padding: 2px;
}

th {
    background-color: rgba(56, 181, 173, 0.7);
    border: 1px solid #404040;
    height: 1em;
    font-weight: bold;
    color: white;
    padding: 4px;
}

tr {
    background-color: transparent;
    border: 1px solid #404040;
    font-weight: lighter;
    padding: 2px;
}


.idsens {
    cursor: pointer;
}

#table {
    /*	position: absolute; */
    text-align: center;
    padding: 8px;
    margin-top: 10px;
    font-weight: bold;
    font-family: arial, sans-serif;
    color: black;
    font-size: 15px;
    pointer-events: all;
    border-radius: 2px;
    max-height: 90vh;
}

.hexbin-hexagon {
    stroke-width: 0;
}
/*

#menu {
    background-color: rgba(56, 181, 173, 1);
    color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 1200;
    padding: 5px 10px;
}

#menu:hover, #menu:focus {
    background-color: rgb(49, 135, 127);
}

#sidebar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 400px;
    max-width: 100%;
    display: none;
    z-index: 1000;
    background-color: rgba(250, 250, 250, 0.8);
    overflow-y: auto;
}

*/

.leaflet-control {
/*    margin-top: 110px !important;*/
}

#noise_option::after {
	content: " (beta)";
	vertical-align: super;
	font-size: small;
}

.labs_facebook:before {
	display: inline-block;
	padding-right: 5px;
	content: url("../images/facebook.svg");
	width: 15px;
	vertical-align: middle;
}
.labs_twitter:before {
	display: inline-block;
	padding-right: 5px;
	content: url("../images/twitter.svg");
	width: 15px;
	vertical-align: middle;
}
.labs_github:before {
	display: inline-block;
	padding-right: 5px;
	content: url("../images/github.svg");
	width: 15px;
	vertical-align: middle;
}
.labs_gitlab:before {
	display: inline-block;
	padding-right: 5px;
	content: url("../images/gitlab.svg");
	width: 15px;
	vertical-align: middle;
}
.labs_mastodon:before {
	display: inline-block;
	padding-right: 5px;
	content: url("../images/mastodon.svg");
	width: 15px;
	vertical-align: middle;
}
.labs_meetup:before {
	display: inline-block;
	padding-right: 5px;
	content: url("../images/meetup.svg");
	width: 15px;
	vertical-align: middle;
}
.labs_telegram:before {
	display: inline-block;
	padding-right: 5px;
	content: url("../images/telegram.svg");
	width: 15px;
	vertical-align: middle;
}

.labs_sociallinks {
	border: none;
	width: auto;
}

.labs_sociallinks td, .labs_sociallinks tr {
	text-align: left;
	vertical-align: middle;
	border: none;
}

.leaflet-control-velocity {
	display: none;
}


.leaflet-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 2000; }

  .leaflet-sidebar.collapsed {
    width: 40px; }
  @media (min-width: 768px) {
    .leaflet-sidebar {
      top: 10px;
      bottom: 10px;
      transition: width 500ms; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .leaflet-sidebar {
      width: 305px;
      max-width: 305px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .leaflet-sidebar {
      width: 390px;
      max-width: 390px; } }
  @media (min-width: 1200px) {
    .leaflet-sidebar {
      width: 460px;
      max-width: 460px; } }

.leaflet-sidebar-left {
  left: 0; }
  @media (min-width: 768px) {
    .leaflet-sidebar-left {
      left: 10px; } }

.leaflet-sidebar-right {
  right: 0; }
  @media (min-width: 768px) {
    .leaflet-sidebar-right {
      right: 10px; } }

.leaflet-sidebar-tabs {
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: #fff; }
  .leaflet-sidebar-left .leaflet-sidebar-tabs {
    left: 0; }
  .leaflet-sidebar-right .leaflet-sidebar-tabs {
    right: 0; }
  .leaflet-sidebar-tabs, .leaflet-sidebar-tabs > ul {
    position: absolute;
    width: 40px;
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .leaflet-sidebar-tabs > li, .leaflet-sidebar-tabs > ul > li {
      width: 100%;
      height: 40px;
      color: #333;
      font-size: 12pt;
      overflow: hidden;
      transition: all 80ms; }
      .leaflet-sidebar-tabs > li:hover, .leaflet-sidebar-tabs > ul > li:hover {
        color: #000;
        background-color: #eee; }
      .leaflet-sidebar-tabs > li.active, .leaflet-sidebar-tabs > ul > li.active {
        color: #fff;
        background-color: #0074d9; }
      .leaflet-sidebar-tabs > li.disabled, .leaflet-sidebar-tabs > ul > li.disabled {
        color: rgba(51, 51, 51, 0.4); }
        .leaflet-sidebar-tabs > li.disabled:hover, .leaflet-sidebar-tabs > ul > li.disabled:hover {
          background: transparent; }
        .leaflet-sidebar-tabs > li.disabled > a, .leaflet-sidebar-tabs > ul > li.disabled > a {
          cursor: default; }
      .leaflet-sidebar-tabs > li > a, .leaflet-sidebar-tabs > ul > li > a {
        display: block;
        width: 100%;
        height: 100%;
        line-height: 40px;
        color: inherit;
        text-decoration: none;
        text-align: center;
        cursor: pointer; }
  .leaflet-sidebar-tabs > ul + ul {
    bottom: 0; }

.leaflet-sidebar-content {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.95);
  overflow-x: hidden;
  overflow-y: auto; }
  .leaflet-sidebar-left .leaflet-sidebar-content {
    left: 40px;
    right: 0; }
  .leaflet-sidebar-right .leaflet-sidebar-content {
    left: 0;
    right: 40px; }
  .leaflet-sidebar.collapsed > .leaflet-sidebar-content {
    overflow-y: hidden; }

.collapsed > .leaflet-sidebar-content {
  overflow-y: hidden; }

.leaflet-sidebar-pane {
  display: none;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 10px 20px; }
  .leaflet-sidebar-pane.active {
    display: block; }
  @media (min-width: 768px) and (max-width: 991px) {
    .leaflet-sidebar-pane {
      min-width: 265px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .leaflet-sidebar-pane {
      min-width: 350px; } }
  @media (min-width: 1200px) {
    .leaflet-sidebar-pane {
      min-width: 420px; } }

.leaflet-sidebar-header {
  margin: -10px -20px 0;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  font-size: 14.4pt;
  color: #fff;
  background-color: #0074d9; }
  .leaflet-sidebar-right .leaflet-sidebar-header {
    padding-left: 40px; }

.leaflet-sidebar-close {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer; }
  .leaflet-sidebar-left .leaflet-sidebar-close {
    right: 0; }
  .leaflet-sidebar-right .leaflet-sidebar-close {
    left: 0; }

.leaflet-sidebar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65); }
  @media (min-width: 768px) {
    .leaflet-sidebar {
      border-radius: 4px; }
      .leaflet-sidebar.leaflet-touch {
        border: 2px solid rgba(0, 0, 0, 0.2); } }

.leaflet-sidebar-left.leaflet-touch {
  box-shadow: none;
  border-right: 2px solid rgba(0, 0, 0, 0.2); }

@media (min-width: 768px) {
  .leaflet-sidebar-left ~ .leaflet-control-container .leaflet-left {
    transition: left 500ms; } }

@media (min-width: 768px) and (max-width: 991px) {
  .leaflet-sidebar-left ~ .leaflet-control-container .leaflet-left {
    left: 315px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .leaflet-sidebar-left ~ .leaflet-control-container .leaflet-left {
    left: 400px; } }

@media (min-width: 1200px) {
  .leaflet-sidebar-left ~ .leaflet-control-container .leaflet-left {
    left: 470px; } }

.leaflet-sidebar-left.collapsed ~ .leaflet-control-container .leaflet-left {
  left: 50px; }

.leaflet-sidebar-right.leaflet-touch {
  box-shadow: none;
  border-left: 2px solid rgba(0, 0, 0, 0.2); }

@media (min-width: 768px) {
  .leaflet-sidebar-right ~ .leaflet-control-container .leaflet-right {
    transition: right 500ms; } }

@media (min-width: 768px) and (max-width: 991px) {
  .leaflet-sidebar-right ~ .leaflet-control-container .leaflet-right {
    right: 315px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .leaflet-sidebar-right ~ .leaflet-control-container .leaflet-right {
    right: 400px; } }

@media (min-width: 1200px) {
  .leaflet-sidebar-right ~ .leaflet-control-container .leaflet-right {
    right: 470px; } }

.leaflet-sidebar-right.collapsed ~ .leaflet-control-container .leaflet-right {
  right: 50px; }
